/** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
 * Colors
 *
 * .card.background-color = maincolor
 * .card-item.background-color = maincolor +40% lighter, opacity 0.75
 * .card-item.border-color = maincolor +40% lighter, opacity 1
 */
.green .card {
	background-color: rgba(0, 128, 0, 1);
}

.green .card-item {
	background-color: rgba(102, 230, 102, 0.75);
	border-color: rgba(102, 230, 102, 1);
}

.green .card-field {
	border-color: rgba(102, 230, 102, 1);
}

.green-light .card {
	background-color: rgba(64, 192, 64, 1);
	background-color: rgba(64, 128, 64, 1);
}

.green-light .card-item {
	background-color: rgba(166, 255, 166, 0.75);
	border-color: rgba(166, 255, 166, 1);
}

.green-light .card-field {
	border-color: rgba(166, 255, 166, 1);
}

.green-lizard .card {
	background-color: rgba(64, 128, 0, 1);
}

.green-lizard .card-item {
	background-color: rgba(166, 230, 102, 0.75);
	border-color: rgba(166, 230, 102, 1);
}

.green-lizard .card-field {
	border-color: rgba(166, 230, 102, 1);
}

.blue .card {
	background-color: rgba(0, 0, 128, 1);
	/*color: rgba(230, 230, 230, 1);*/
}

.blue .card-item {
	background-color: rgba(102, 102, 230, 0.75);
	border-color: rgba(102, 102, 230, 1);
}

.blue .card-field {
	border-color: rgba(102, 102, 230, 1);
}

.blue-light .card {
	background-color: rgba(64, 64, 192, 1);
}

.blue-light .card-item {
	background-color: rgba(166, 166, 255, 0.75);
	border-color: rgba(166, 166, 255, 1);
}

.blue-light .card-field {
	border-color: rgba(166, 166, 255, 1);
}

.red .card {
	background-color: rgba(128, 0, 0, 1);
	/*color: rgba(230, 230, 230, 1);*/
}

.red .card-item {
	background-color: rgba(205, 102, 102, 0.75);
	border-color: rgba(205, 102, 102, 1);
}

.red .card-field {
	border-color: rgba(205, 102, 102, 1);
}

.red-light .card {
	background-color: rgba(192, 64, 64, 1);
}

.red-light .card-item {
	background-color: rgba(230, 192, 192, 0.75);
	border-color: rgba(230, 192, 192, 1);
}

.red-light .card-field {
	border-color: rgba(230, 192, 192, 1);
}

.red-gray .card {
	background-color: rgba(128, 0, 0, 1);
}

.red-gray .card-item {
	background-color: rgba(205, 166, 166, 0.75);
	border-color: rgba(205, 166, 166, 1);
}

.red-gray .card-field {
	border-color: rgba(205, 166, 166, 1);
}

.cyan .card {
	background-color: rgba(0, 128, 128, 1);
}

.cyan .card-item {
	background-color: rgba(166, 230, 230, 0.75);
	border-color: rgba(166, 230, 230, 1);
}

.magenta .card {
	background-color: rgba(128, 0, 128, 1);
}

.magenta .card-item {
	background-color: rgba(205, 166, 205, 0.75);
	border-color: rgba(205, 166, 205, 1);
}

.yellow .card {
	background-color: rgba(128, 128, 0, 1);
}

.yellow .card-item {
	background-color: rgba(230, 230, 166, 0.75);
	border-color: rgba(230, 230, 166, 1);
}

.yellow-light .card {
	/*background-color: rgba(192, 192, 0, 1);*/
	background-color: rgba(255, 255, 77, 1);
}

.yellow-light .card-item {
	/*background-color: rgba(255, 255, 77, 0.75);*/
	background-color: rgba(192, 192, 0, 0.75);
	border-color: rgba(90, 90, 0, 1);
}