body {
	margin: 0;
	background-color: white;
}

body * {
	visibility: hidden;
}

@page {
	margin: 8mm;
}

.card-container {
	page-break-after: always;
	break-after: always;
}

.card-container * {
	visibility: visible;
}

.card-shape {
	font-size: small;
	page-break-inside: avoid;
}

.landscape {
	writing-mode: vertical-rl;
}

.landscape.card-shape {
	width: 18.4em;
	height: 25.6em;
}

.landscape .card>:first-child {
	margin-right: 0.30em;
}

.landscape .card>:last-child {
	margin-left: 0.30em;
}

.landscape .card-item {
	margin-right: -0.15em;
	margin-left: 0;
	margin-top: 0.30em;
	margin-bottom: 0.30em;
	padding-right: 0.15em;
	padding-left: 0.15em;
	padding-top: 0.30em;
	padding-bottom: 0.30em;
}

.landscape .card-item.emphasized {
	margin-top: 0;
	margin-bottom: 0;
}

.landscape .card-item.no-padding {
	border-style: none;
	border-color: rgba(0, 0, 0, 0);
	padding: 0;
}

.landscape .card-item.short {
	min-height: initial;
	max-height: initial;
	min-width: 1.2em;
	max-width: 1.2em;
}

.landscape .card-item.no-padding.short {
	min-width: 1.8em;
	max-width: 1.8em;
}

.landscape .card-header {
	
}

.landscape .card-field {
	padding-right: 0.15em;
	padding-left: 0.15em;
	padding-top: 0.30em;
	padding-bottom: 0.30em;
}

.landscape .card-field+.card-field {
	margin-left: inherit;
	margin-top: -0.15em;
}

/*.landscape .card-icon {}

.landscape .card-icon:before {
  transform: rotate(90deg);
}

.landscape .card-field-right .icon-laby {
  display: block;
  position: relative;
  transform: rotate(90deg);
}*/
.landscape .card-image picture {
	display: block;
	position: relative;
	transform: rotate(90deg);
	transform-origin: 0 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}